extends layout
block content
 h1= title
 - let dogid = toShow._id
 - let dog_Name = toShow.dog_Name
 - let dog_Price = toShow.dog_Price
 - let dog_Breed = toShow.dog_Breed
 div
    div.row
        div(class='dogAttr mr-3') Dog ID is:
        div #{dogid}
    div.row
        div(class='dogAttr mr-3') Dog Name is:
        div #{dog_Name}
    div.row
        div(class='dogAttr mr-3') Dog Breed is:
        div #{dog_Breed}
    div.row
        div(class='dogAttr mr-3') Dog Price is:
        div #{dog_Price}